# ============================================================
# TallerConnect - Variables de Entorno (Plantilla= que no tiene valores reales como el ... y el ... xD) 
# ============================================================

EXPO_PUBLIC_API_URL=http://localhost:8000/api


EXPO_PUBLIC_USE_MOCK_AUTH=true
